.caret-dropdown-arrow {
    border: .3125em solid transparent;
    display: inline-block;
    vertical-align: middle;
    border-top-color: currentColor;
    margin-top: 1px;
    margin-left: 3px;
    overflow: hidden;
}
