.syntax {
  span {
   // line-height:1.5;
   // font-size:18px;
  }
  .p {
    color: rgb(245,245,245);
  }
 .s {
    color: #f0e68c;
 }
 .nt, .o {
    color: #cd5c5c;
 }
 .na {
    color: #87ceeb;
 }
 .cp {
    color: #888;
 }
}
