body {
    margin: 0px;
    padding: 0px;

}

h2 {
    //margin: 0px;
}

.h2-margin-zero {
    margin: 0px;
}

.green {
    background-color: rgb(71,180,117);
    color: rgb(0,0,0);
    margin-left: 15px;
    margin-right: 15px;
    line-height: 40px;
    border-bottom-color: rgba(255,255,255, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.icon {
    color: rgb(152,152,152);
    font-size: 64px;
    line-height: 64px;
    font-family: themify;
    margin: 16px;
    list-style-position: outside;
    cursor: pointer;
    display: block;
}
.icon:hover, .span_icon:hover {
    color: rgb(71,180, 117);
}

.tabs {
    @include cf;
    list-style-type: none;
    list-style-image: none;
    color: rgb(102,102,102);
    margin-left: span(2);
    li {
        float:left;
        width: span(1) + gutter();
    }
    li:hover {
        .icon, .span_icon {
            color: rgb(71,180, 117);
        }
    }
}

.span_icon {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.sub_heading {
    display: block;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cf {
    @include cf;
}
.no_decor {
    @include no_decor;
}

.no_decor_all {
    @include no_decor;
    ul, li, a {
      @include no_decor;
    }
}

.overlay, #overlay {
    height: auto;
    left: 0;
    min-height: 100%;
    right: 0;
    top: 0;
    z-index: 4000;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
}

.close {
    background-image: url(../images/closeicon_fb.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -106px -172px;
    background-color: transparent;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 5px;
    cursor: pointer;
    transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
    a {
        border: 0 none;
        cursor: pointer;
        font-size: 0 !important;
        overflow: hidden;
        padding: 0;
        vertical-align: middle;
    }
}
.close:hover {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -132px -172px;
}
.create_group, .create_store, #create_store {
    @include cf;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    width: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto 40px;
    position: relative;
    margin-top: 50vh;
    transform: translate(0, -50%);
    .heading {
        background-color: #f6f7f9;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 3px 3px 0 0;
        color: #1d2129;
        font-weight: bold;
        line-height: 19px;
        padding: 10px 12px;
        h1 {
            @include no_padding_margin;
            color: #1d2129;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }
    }
    .info-graphic {
        border-width: 0 0 0 1px;
        display: block;
        position: relative;
        margin-top: 18px;
        margin-bottom: 14px;
        @include cf;
        li {
            @include no_decor;
            @include cf;
            width: 472px;
            height: 92px;
            margin: 6px;
            border: 1px solid #dddfe2;
            border-radius: 3px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            .infographic-img {
                display: inline-block;
            }
            .description {
                color: #90949c;
                font-size: 12px;
                line-height: 16px;
                white-space: normal;
                width: 300px;
                word-wrap: break-word;
                text-align: left;
                margin-left: 8px;
                margin-right: 8px;
                display: inline-block;
                vertical-align: middle;
            }
            .middle {
                font-size: 12px;
                line-height: 16px;
                white-space: normal;
                width: 300px;
                word-wrap: break-word;
            }
        }
    }
    .form-input {
        border-bottom: 1px solid #dddfe2;
        padding: 10px 12px;
        label {
            font-weight: bold;
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 18px;
        }
        input {
            height: 21px;
            width: 466px;
            border: 1px solid #bdc7d8;
            margin: 0;
            padding: 4px;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            box-shadow: none;
            //font-weight: bold;
            margin-top: 5px;
            margin-bottom: 12px;
            box-sizing: initial;
        }
        textarea {
            padding: 4px;
            width: 466px;
            border: 1px solid #bdc7d8;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 12px;
            box-sizing: initial;
        }
    }
}
.overlay-big {
    margin: 48px auto 48px auto;
    /* overflow: hidden; */
    position: relative;
    width: 756px;
    z-index: 25;
    transform: translate(0,0);
    h1 {
        display: block;
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.25em;
        margin: 0 0 6px;
    }
    .widgets {
        border-radius: 3px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        background: #e2e4e6;
        box-shadow: 0 1px 0 0 #c4c9cc;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        /* overflow: hidden; */
        padding: 7px 7px 7px 11px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        color: #444;
    }
    .widgets:hover {
        background: #cdd2d4;
        box-shadow: 0 1px 0 0 #a5acb0;
        color: #4c4c4c;
    }
    .icon-sm {
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        width: 19px;
        color: #999;
    }
    .block {
        display: block;
        color: #838c91;
        font-size: 13px;
        a {
            text-decoration: underline;
            color: #838c91 !important;
        }
    }
    .window-sidebar {
        float: right;
        padding: 8px 16px 8px 8px;
        width: 168px;
//        overflow: hidden;
        z-index: 10;
    }
}
.create-btn {
    padding: 10px 12px;
}
.position-absolute {
    position: absolute !important;
}
.top-0 {
    top:0;
}
.position-absolute-imp, .position-absolute-important{
    position: absolute !important;
}
.position-fixed {
    position: fixed;
}
.width {
    width: var(--width);
}
.max-width {
    max-width: var(--max-width);
}
.center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.position-50-top, .top-50 {
    top: 50%;
}
.transform-y-50, .vertical-transform-50 {
    transform: translate(0, -50%);
}

.top-50-transform {
    top: 50%;
    transform: translate(0, -50%);
}

.left-50-transform {
    top: 50%;
    transform: translate(-50%, 0);
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.no_padding_margin_all {
    @include no_padding_margin;
    ul, li, a {
        @include no_padding_margin;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-text {
    cursor: text;
}

.cursor-default {
    cursor: default;
}

.antsand-transition {
    @include facebook_transition;
}

.no_textdecoration, .no_underline {
    text-decoration: none !important;
}

.transition-display-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity ease-in 0.25s, visibility  ease-in 0.25s;
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1);
}

.tranition-display-none {
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in 0.25s, visibility  ease-in 0.25s;
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1);
}

.show-transition {

}

.content-plaintext {
     -webkit-user-modify: read-write-plaintext-only;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.placeholder {
    color: #90949c;
    position: absolute;
    z-index: 1;
    white-space: pre-wrap;
}

.placeholder-active {
    color: #bec3c9; 
}

/********************************************/
/* copy from common_public */

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.width-full, .full-width {
 width: 100%;
}

.width-full-mobile {
    @include breakpoint(0 $tablet) {
        width: 100%;
    }
}

.height-full, .full-height {
 height: 100%;
}

.width-half {
 width: 50%;
}

.color-yellow {
    color: #ffb400;
}

.color-white {
    color: white !important;
}
.color-black {
    color: black !important;
}

.bg-white {
    background-color: white !important;
}

.width-half-float, .gallery-2 {
    @include gallery(1 of 2);
}

.container {
    @include cf;
    width: 100%;
}

.img {
  width: 100%;
  height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.img-contain {
    object-fit: contain !important;
}

.overflow-auto {
    overflow:auto;
}

.overflow-hidden {
    overflow: hidden;
}

.z-index-2 {
   z-index: 2;
}

.form-flex {
	h1 {
		color: #999;
	}
  flex: 1 0 300px;
  //background: powderblue;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
  }
  //margin-right: 2em;
  label {
    flex: 1 0 90px;
    max-width: 200px;
  }
  input, select {
        flex: 1 0 230px;
        box-sizing: border-box;
        padding: 0.6em 0.8em;
        color: #444;
        background: #f7f7f7;
        border: 1px solid #e1e1e1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9em;
        text-decoration: none;
        line-height: normal;
        max-height: 3em;
  }
  button {
    border-radius: 0px 2px 2px 0px;
    box-sizing: content-box;
    background: #00aeef;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
	border-radius: 4px;
    margin-top: 15px;
  }
}

.no_padding_margin {
    @include no_padding_margin;
}

.no_padding {
    padding:0px !important;
}

.no_margin {
    margin:0px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

@include breakpoint(0 $tablet) {
    .wrapper {
        padding: 0px 15px;
    }
}

@include breakpoint($tablet) {
    .wrapper {
        width: span(8 of $columns)  + gutter($columns) + gutter($columns);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .inner-wrapper {
        width:span(8 of $columns) + gutter($wrapper) + gutter($wrapper);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@include breakpoint($minidesktop) {
    .wrapper {
        width: span(7 of $columns)  + gutter($columns) + gutter($columns);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .inner-wrapper {
        width:span($inner_wrapper of $columns) + gutter($wrapper) + gutter($wrapper);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@include breakpoint($semidesktop) {
    .wrapper {
        width: span(7 of $columns)  + gutter($columns) + gutter($columns);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .inner-wrapper {
        width:span($inner_wrapper of $columns) + gutter($wrapper) + gutter($wrapper);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@include breakpoint($desktop) {
    .wrapper {
        width: span(7 of $columns)  + gutter($columns) + gutter($columns);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .inner-wrapper {
        width:span($inner_wrapper of $wrapper) + gutter($wrapper) + gutter($wrapper);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.width-one-third {
    width: 33.33%;
}
.width-two-third {
    width: calc(100%*2/3);
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}


label {
  display: inline-block;
  line-height:1.2;
}
