.font-bold {
    font-weight: bold;
}
.font-italic {
    font-style: italic;
}

@for $i from 5 through 200 {
    $font-size: $i * 1px;
    .font-size-#{$i}-all, .font-size-#{$i}, .font-#{$i} {
        font-size: $font-size;
    }
    .font-size-#{$i}-sm-tablet {
        @include breakpoint(0 $tablet) {
            font-size:$font-size;
        }
    }
    .font-size-#{$i}-sm-minidesktop {
        @include breakpoint(0 $minidesktop) {
            font-size:$font-size;
        }
    }
    .font-size-#{$i}-sm-desktop {
        @include breakpoint(0 $desktop) {
            font-size:$font-size;
        }
    }
    .font-size-#{$i}-tablet {
        @include breakpoint($tablet) {
            font-size:$font-size;
        }
    }
    .font-size-#{$i}-minidesktop {
        @include breakpoint($minidesktop) {
            font-size:$font-size;
        }
    }
    .font-size-#{$i}-desktop {
        @include breakpoint($desktop) {
            font-size:$font-size;
        }
    }
}

@for $i from 1 through 30 {
    $line-height: $i * 0.1;
    .line-height-#{$i}-all, .line-height-#{$i}, .line-height-#{$i} {
        line-height: $line-height;
    }
    .line-height-#{$i}-sm-tablet {
        @include breakpoint(0 $tablet) {
            line-height:$line-height;
        }
    }
    .line-height-#{$i}-sm-minidesktop {
        @include breakpoint(0 $minidesktop) {
            line-height:$line-height;
        }
    }
    .line-height-#{$i}-sm-desktop {
        @include breakpoint(0 $desktop) {
            line-height:$line-height;
        }
    }
    .line-height-#{$i}-tablet {
        @include breakpoint($tablet) {
            line-height:$line-height;
        }
    }
    .line-height-#{$i}-minidesktop {
        @include breakpoint($minidesktop) {
            line-height:$line-height;
        }
    }
    .line-height-#{$i}-desktop {
        @include breakpoint($desktop) {
            line-height:$line-height;
        }
    }
}

.font-size-inherit {
    font-size: inherit !important;
}
.font-family-inherit {
    font-family: inherit !important;
}

.pictos-check:before {
    content:'2';
    //color: #fb292d;
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}   
.pictos-love:before {
    content:'k';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-anchor:before {
    content:'a';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-prev:before {
    content:'8';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-next:before {
    content:'7';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-play:before {
    content:'9';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-play-block:before {
    content:'4';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-pause:before {
    content:'5';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-left:before {
    content:'[';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-right:before {
    content:']';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-up:before {
    content:'{';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-down:before {
    content:'}';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-question:before {
    content:'?';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-home:before {
    content:'H';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-globe:before {
    content:'G';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-add:before {
    content:'+';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-minus:before {
    content:'-';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-info:before {
    content:'i';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-mail:before {
    content:'M';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-profile:before {
    content:'U';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-gear:before {
    content:'y';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-tools:before {
    content:'x';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-shopping:before {
    content:'$';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-search:before {
    content:'s';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-location:before {
    content:'@';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
