.font-italic {
    font-style: italic;
}

.text-center, .text-align-center, .align-center {
    text-align: center;
}
.text-left, .align-left, .text-align-left {
    text-align: left !important;
}
.text-right, .align-right, .text-align-right {
    text-align: right !important;
}

.font-400 {
    font-weight: 400;
}

.font-underline, .text-underline, .text-decoration-underline {
    text-decoration: underline;
}

.bold, .font-bold, .font-weight-bold {
    font-weight: bold;
}

small {
  font-size: 80%;
  font-weight: 400;
}

@for $i from 5 through 200 {
    $font-size: $i * 1px;
    .font-size-#{$i}-all, .font-size-#{$i}, .font-#{$i} {
        font-size: $font-size;
    }
    @each $width_profile, $width in $breakpoint-map {
      .font-size-#{$i}-#{$width_profile} {
          @include breakpoint($width) {
            font-size: $font-size;
          }
      }
    }
}

.line-height-1 {
    line-height: 1 !important;
}
.line-height-1-1 {
    line-height: 1.1 !important;
}
.line-height-1-2 {
    line-height: 1.2 !important;
}
.line-height-1-3 {
    line-height: 1.3 !important;
}
.line-height-1-4 {
    line-height: 1.4 !important;
}
.line-height-1-5 {
    line-height: 1.5 !important;
}
.line-height-1-6 {
    line-height: 1.6 !important;
}
.line-height-1-7 {
    line-height: 1.7 !important;
}
.line-height-1-8 {
    line-height: 1.8 !important;
}
.line-height-1-9 {
    line-height: 1.9 !important;
}
.line-height-2 {
    line-height: 2 !important;
}

@for $i from 1 through 30 {
    $line-height: $i * 0.1;
    .line-height-#{$i} {
        line-height: $line-height;
    }
    @each $width_profile, $width in $breakpoint-map {
      .line-height-#{$i}-#{$width_profile} {
          @include breakpoint($width) {
            line-height: $line-height;
          }
      }
    }
}

@for $i from 1 through 9 {
    $font-weight: $i * 100;
    @each $width_profile, $width in $breakpoint-map {
      .font-weight-#{$font-weight}-#{$width_profile} {
          @include breakpoint($width) {
            font-weight: $font-weight;
          }
      }
    }
}

@each $width_profile, $width in $breakpoint-map {
  .text-left-#{$width_profile}, .align-left-#{$width_profile}  {
      @include breakpoint($width) {
        text-align: left;
      }
  }
  .text-right-#{$width_profile}, .align-right-#{$width_profile}  {
      @include breakpoint($width) {
        text-align: right;
      }
  }
  .font-underline-#{$width_profile}, .text-underline-#{$width_profile}, .text-decoration-underline-#{$width_profile} {
      text-decoration: underline;
  }

  .bold-#{$width_profile}, .font-bold-#{$width_profile}, .font-weight-bold-#{$width_profile} {
      font-weight: bold;
  }
}

.font-size-inherit {
    font-size: inherit !important;
}
.font-family-inherit {
    font-family: inherit !important;
}

.font-default {
    font-family: $font-family; 
}

.font-Graphik {
    font-family: 'Graphik';
}

.font-freighttext {
    font-family: 'FreightTextPro';
}

.font-Guardian {
    font-family: 'GH Guardian Headline';
}

.font-GuardianEgyp {
    font-family: 'Guardian Text Egyp';
}

.font-GuardianTile {
    font-family: 'GT Guardian Titlepiece';
}

.font-GuardianSans {
    font-family: 'GuardianTextSans';
}

.font-Cooper {
    font-family: 'Cooper Light';
}

.font-Freddicons {
    font-family: 'Freddicons 20';
}

.font-Futura {
    font-family: 'Futura PT';
}

.font-FuturaCond {
    font-family: 'Futura PT Cond';
}

.font-Salvo, .font-salvo {
    font-family: 'Salvo Sans';
}

.font-Retina {
    font-family: 'Retina';
}

.font-Boxout {
    font-family: 'Boxout';
}

.font-Akkurat {
    font-family: 'Akkurat';
}

.font-Oswald {
    font-family: 'oswald';
}

.font-Bdicons {
    font-family: 'bdicons';
}

.font-Gotham {
    font-family: 'Gotham';
}

.font-Lota {
    font-family: 'Lota Grotesque';
}

.font-Caveat {
    font-family: 'Caveat';
}

.font-Avenir {
    font-family: 'Avenir';
}

.font-AvenirCond {
    font-family: 'Avenir-Cond';
}

.font-AvenirLT {
    font-family: 'Avenir LT Std';
}

.font-AvenirMd {
    font-family: 'AvenirNextforINTUITW05-Md';
}
.font-AvenirBold {
    font-family: 'AvenirNextforINTUITW05';
}
.font-AvenirDemiIt {
    font-family: 'AvenirNextforINTUITW05-DmIt';
}

.font-AvenirMedIt {
    font-family: 'AvenirNextforINTUITW05-MdIt';
}

.font-AvenirDemi {
    font-family: 'AvenirNextforINTUITW05-Demi';
}

.font-AvenirIt {
    font-family: 'AvenirNextforINTUITW05-It';
}

.font-AvenirBoldIt {
    font-family: 'AvenirNextforINTUITW05-BdIt';
}

.font-AvenirRg {
    font-family: 'AvenirNextforINTUITW05-Rg';
}

.font-Havehearttwo {
    font-family: 'Have Heart Two';
}

.font-Montserrat {
    font-family: 'Montserrat';
}

.font-MaterialIconExtended {
    font-family: 'Material Icons Extended';
}

.font-Coluna {
    font-family: 'Coluna';
}

.font-Colunarounded {
    font-family: 'Coluna Rounded';
}

.font-Brandon {
    font-family: 'BrandonGrotW01';
}

.font-Cinzel {
    font-family: 'Cinzel';
}

.font-Sacramento {
    font-family: 'Sacramento';
}

.font-Playfair {
    font-family: 'Playfair Display';
}

.font-Icomoon {
    font-family: 'icomoon';
}

.font-Schmalfette {
  font-family: 'SchmalfetteCP';
}

.font-Artifakt {
  font-family: 'Artifakt Element';
}

.font-Novecento {
  font-family: 'Novecento';
}

.font-NovecentoWide {
  font-family: 'Novecento wide';
}

.font-Proxima {
  font-family: 'Proxima Nova';
}

.pictos-check:before {
    content:'2';
    //color: #fb292d;
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}   
.pictos-love:before {
    content:'k';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-anchor:before {
    content:'a';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-prev:before {
    content:'8';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-next:before {
    content:'7';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-play:before {
    content:'9';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-play-block:before {
    content:'4';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-pause:before {
    content:'5';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-left:before {
    content:'[';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-right:before {
    content:']';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-up:before {
    content:'{';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-down:before {
    content:'}';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-question:before {
    content:'?';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-home:before {
    content:'H';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-globe:before {
    content:'G';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-add:before {
    content:'+';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-minus:before {
    content:'-';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-info:before {
    content:'i';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-mail:before {
    content:'M';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-profile:before {
    content:'U';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-gear:before {
    content:'y';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-tools:before {
    content:'x';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-shopping:before {
    content:'$';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
.pictos-search:before {
    content:'s';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-location:before {
    content:'@';
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}

.pictos-calendar:before {
    content:"\\";
    //color: #fb292d; 
    color: inherit;
    display: inline-block;
    font-size: 1.2em;
    padding-right: .3em;
    font-family:pictos;
}
