.color-red {
    color: #d52b1e;
}

.form-padding {
   padding: 45px 0px;
}

.form-default {
   .form-elements {
        margin:15px 0px;
   }
   input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, textarea, .input {
      padding: .6em .7em .5em .7em;
      font-size: .9em;
      color: #666;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border: 1px solid #ccc;
      border-color: #c4c4c4 #d8d8d8 #e2e2e2;
      outline: none;
      margin: 0;
      line-height: 1.5em;
      width: 100%;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-family: Helvetica,Arial;
      vertical-align: top;
      a {
          @include no_decor;
          text-decoration: underline;
          color: #007AB8;
          outline:none;
      }
      hr {
        margin-top: 16px;
        margin-bottom: 16px;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
      }
   }
    .error {
        border: #ff8181 2px solid !important;
    }
    .input-container {
        position:relative;
        margin: 6px 0 9px 0;
    }
    .error-notification {
        position: absolute;
        z-index: 100;
        width: auto;
        line-height: 1;
        top: -10%;
        font-size: 11px;
        right: 32px;
        display: block;
        margin: auto auto;
        text-align: center;
        background: white;
        color: #ec2222;
    }
    .form-text {
        display: block;
        margin-top: .25rem;    
    }  
    .label-container {
        margin-bottom:6px;
    }
    .label {
        line-height: 1.42857143;
        color: #333;
        font-weight: bold;
        font-size: 15.6px;
        display: block;
        flex: none;
        max-width: none;
        margin: 0;
        padding: 0 0 3px 0;
        border: none;
        display: block;
        white-space: normal;
        width: 100%;
        min-height:20px;
    }

    .sub-label {
      color: rgba(15, 15, 15, 0.7);
      line-height: 1.2;
      min-height: 15px;
      font-size:12px;
    }

    .required {
        position:relative;
    }
    .required:after {
        content: '*';
        color: red;
        position: absolute;
        top: -0.32em;
        z-index: 10;
        left: -0.17em;
        right: -0.15em;
        font-size: 1.6em;
        font-family: Helvetica;
        font-weight: bold;
        width: 10px;
    }
 }

.popup-form-white {
   background-color: hsla(0,0%,100%,.98); 
}

 .popup-form-black {


 }
