.illustration-6 {
    margin-top:45px;
    @include breakpoint($minidesktop) {
        margin-top:75px;
        margin-bottom:300px;
    }
    .illustration_icon {
      width:50%;  
      @include breakpoint($tablet) {
            width:25%;  
      }
    }
    .text-box {
        @include breakpoint($minidesktop) {
            width:calc(100%/5.2);
        }
    }
}
