.list-blocks {
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    border: 0px solid #000;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 16px 22px 15px 30px;
    cursor: pointer;
    transition: background 0.10s ease-in;
}
