.list-blocks {
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    border: 0px solid #000;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 16px 22px 15px 30px;
    cursor: pointer;
    transition: background 0.10s ease-in;
}

.orange-bullet, .orange-list {
    @include no_decor;    
    padding-left: 0;
    text-indent: -15px;
    //margin-left: 1em;
    padding: 3px 0;
    line-height: 1.8;
    position:relative;
    padding-left:26px;
}

.orange-bullet:before, .orange-list:before {
    content: "■ ";
    //padding-right: 10px;
    color: #f16639;
    //padding-left:26px;
    position:absolute;
    left:0px;
}

.blue-bullet, .blue-list {
    @include no_decor;    
    padding-left: 0;
    text-indent: -15px;
    //margin-left: 1em;
    padding: 3px 0;
    line-height: 1.8;
    position:relative;
    padding-left:26px;
}

.blue-bullet:before, .blue-list:before {
    content: "■ ";
    //padding-right: 10px;
    color: rgb(68, 138, 255);
    //padding-left:26px;
    position:absolute;
    left:0px;
}

.li-check:before {
    content: "";
    width: 16px;
    height: 12px;
    background-size: contain;
    display: inline-block;
    margin-top: 2px;
    margin-left: -26px;
    position: absolute;
    background: url(../styles_images/checkmark-navy.svg) 50% no-repeat;
}

.list-items {
    list-style-type: none;
    /* padding-left: 26px; */
    margin-bottom: 20px;
    color: #6b6c72;
    }

