.no_padding_margin {
    @include no_padding_margin;
}

.no_padding {
    @include no_padding;
}

@for $i from 0 through $max-padding {
  @each $key, $value in $breakpoint-map {
      @include breakpoint($value) {
        .padding-#{$i}-#{$key}, .padding#{$i}-#{$key}  {
            padding: $i+px !important;
        }
        .padding-left-#{$i}-#{$key}  {
            padding-left: $i+px !important;
        }
        .padding-right-#{$i}-#{$key}  {
            padding-right: $i+px !important;
        }
        .padding-top-#{$i}-#{$key}  {
            padding-top: $i+px !important;
        }
        .padding-bottom-#{$i}-#{$key}  {
            padding-bottom: $i+px !important;
        }
    }
  }
}

.no_padding_right {
    padding-right: 0 !important;
}
.no_padding_top {
    padding-top: 0 !important;
}
.no_padding_bottom {
    padding-bottom: 0 !important;
}

