.position-absolute {
    position: absolute !important;
}

.position-absolute-sm-tablet {
    @include breakpoint(0 $tablet) {
      position: absolute;
    }
}

.position-absolute-tablet {
    @include breakpoint($tablet) {
      position: absolute;
    }
}

.position-absolute-tablet-minidesktop {
    @include breakpoint($tablet $minidesktop) {
      position: absolute;
    }
}


.position-absolute-minidesktop {
    @include breakpoint($minidesktop) {
      position: absolute;
    }
}

.position-absolute-minidesktop-desktop {
    @include breakpoint($minidesktop $desktop) {
      position: absolute;
    }
}

.position-absolute-desktop {
    @include breakpoint($desktop) {
      position: absolute;
    }
}
