.position-absolute {
    position: absolute !important;
}
.fixed, .display-fixed {
  position: fixed;
}
.position-relative {
    position: relative !important;
}

@each $width_profile, $width in $breakpoint-map {
  .position-absolute-#{$width_profile} {
      @include breakpoint($width) {
        position: absolute;
      }
  }
  .position-relative-#{$width_profile} {
      @include breakpoint($width) {
        position: relative;
      }
  }
  .position-fixed-#{$width_profile} {
      @include breakpoint($width) {
        position: fixed;
      }
  }
}
