.orange-quote, .orange-blockquote {
    color: #f16739;
    border-color: #f16739;
    border-left-style: solid;
    border-left-width: 7px;
    padding-left: 20px;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.235em;
    line-height: 1.5;
}

.blue-quote, .blue-blockquote {
    color: rgb(68, 138, 255);
    border-color: rgb(68, 138, 255);
    border-left-style: solid;
    border-left-width: 7px;
    padding-left: 20px;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.235em;
    line-height: 1.5;
}
