.sprite {
    background: url('img/feature-icons.png') no-repeat;
    display: inline-block;
}
.sprite-webbuilder {
    background-position: -1.5px -1.5px;
}
.sprite-dashboard {
    background-position: -37px -1.5px;
}
.sprite-market {
    background-position: -1.5px -37px;
}
.sprite-conversion {
    background-position: -37px -37px;
}
.sprite-template {
    background-position: -1.5px -74px;
}
.sprite-photo {
    background-position: -37px -74px;
}
.sprite-responsive {
    background-position: -1.5px -111px;
}
.sprite-form {
    background-position: -37px -111px;
}
.sprite-optin {
    background-position: -1.5px -148px;
}
.sprite-blog {
    background-position: -37px -148px;
}
.sprite-phone {
    background-position: -1.5px -185px;
}
