@font-face {
    font-family: 'Goudy Old Style';
    src: url('GoudyOldStyleT-Regular.woff2') format('woff2'),
        url('GoudyOldStyleT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

