.no_border {
    border: 0px !important;
}
.border-radius-1, .radius1 {
    border-radius: 1px;
}
.border-radius-2, .radius2 {
    border-radius: 2px;
}
.border-radius-3, .radius3 {
    border-radius: 3px;
}
.border-radius-4, .radius4 {
    border-radius: 4px;
}
.border-radius-5, .radius5 {
    border-radius: 5px;
}
.border-all-white {
    border: 1px solid white;
}
/** BORDER Colors **/
.border-right-white {
    border-right: 1px solid white;
}
.border-top-white {
    border-top: 1px solid white;
}
.border-left-white {
    border-left: 1px solid white;
}
.border-bottom-white {
    border-bottom: 1px solid white;
}

