.create-btn {
    @include cf;
    transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
    line-height: 16px;
    background-image: none;
    //height: 28px;
    margin-right: 0;
    padding: 10px 12px;
    min-width: 87px;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    background-color: #0696d7;
    border: 1px solid #0696d7;
    border-radius: 2px;
    margin: 10px 12px;
    color:white;
    text-transform: capitalize;
    box-sizing: inherit;
    font-size: 12px;
    text-align: center;
    font-size: 12px;
}
  
.default-button, .default-btn {
    border-radius: 0px 2px 2px 0px;
    box-sizing: content-box;
    background: #00aeef;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
	border-radius: 4px;
    margin-top: 15px;
    transition: background 300ms ease-out;
  }
.create-btn:hover {
    background: #068ac6;
}

.btn-black, .button-black {
    outline: none;
    border: 0px;
    background: rgb(10,10,10);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    max-width: 100%;
    padding: 15px;
    cursor:pointer;
    -webkit-transition: opacity .15s ease-in-out, background .15s ease-in-out ;
    -moz-transition: opacity .15s ease-in-out, background .15s ease-in-out ;
    -ms-transition: opacity .15s ease-in-out, background .15s ease-in-out ;
    -o-transition: opacity .15s ease-in-out, background .15s ease-in-out ;
    transition: opacity .15s ease-in-out, background .15s ease-in-out ; 
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.btn-black:hover, .button-black:hover {
    background:rgba(12,12,12,0.9);

}

.btn-black:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0.46875rem #3578a7;
    -moz-box-shadow: 0 0 0.46875rem #3578a7;
    box-shadow: 0 0 0.46875rem #3578a7;
    border: 0.0625rem solid #39588f;
}

.black-round-left-right-btn {
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}


.black-round-left-right-btn:hover {
    background: rgba(0,0,0,0.2);
    outline: none;
    -webkit-box-shadow: 0 0 0.46875rem #3578a7;
    -moz-box-shadow: 0 0 0.46875rem #3578a7;
    box-shadow: 0 0 0.46875rem #3578a7;
    border: 0.0625rem solid #39588f;
}
