.cf {
  @include cf;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.width-full, .full-width {
 width: 100%;
}

.width-full-mobile {
    @include breakpoint(0 $tablet) {
        width: 100%;
    }
}

.height-full, .full-height {
 height: 100%;
}

.width-half {
 width: 50%;
}

.color-yellow {
    color: #ffb400;
}

.color-white {
    color: white !important;
}
.color-black {
    color: black !important;
}

.bg-white {
    background-color: white !important;
}

.width-half-float, .gallery-2 {
    @include gallery(1 of 2);
}

.gallery-2-sm {
    @include breakpoint(0 $tablet) {
      @include gallery(1 of 2);
    }
}

.gallery-1 {
    @include gallery(1 of 1);
}

.gallery-container {
    @include cf;
}

.container {
    @include cf;
    width: 100%;
}


.img {
  width: 100%;
  height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.img-contain {
    object-fit: contain !important;
}

.font-size-10, .font-10 {
    font-size: 10px;
}
.font-size-12, .font-12 {
    font-size: 12px;
}
.font-size-14, .font-14 {
    font-size: 14px;
}
.font-size-15, .font-15 {
    font-size: 15px;
}
.font-size-18, .font-18 {
    font-size: 18px;
}
.font-size-20, .font-20 {
    font-size: 20px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-55 {
    font-size: 55px;
}

.font-size-inherit {
    font-size: inherit !important;
}
.font-family-inherit {
    font-family: inherit !important;
}

.display-inline {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.overflow-auto {
    overflow:auto;
}

.overflow-hidden {
    overflow: hidden;
}

.line-height-1 {
    line-height: 1 !important;
}
.line-height-1-1 {
    line-height: 1.1 !important;
}
.line-height-1-2 {
    line-height: 1.2 !important;
}
.line-height-1-3 {
    line-height: 1.3 !important;
}
.line-height-1-4 {
    line-height: 1.4 !important;
}
.line-height-1-5 {
    line-height: 1.5 !important;
}
.line-height-1-6 {
    line-height: 1.6 !important;
}
.line-height-1-7 {
    line-height: 1.7 !important;
}
.line-height-1-8 {
    line-height: 1.8 !important;
}
.line-height-1-9 {
    line-height: 1.9 !important;
}
.line-height-2 {
    line-height: 2 !important;
}

.z-index-2 {
   z-index: 2;
}

.form-flex {
	h1 {
		color: #999;
	}
  flex: 1 0 300px;
  //background: powderblue;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
  }
  //margin-right: 2em;
  label {
    flex: 1 0 90px;
    max-width: 200px;
  }
  input, select {
        flex: 1 0 230px;
        box-sizing: border-box;
        padding: 0.6em 0.8em;
        color: #444;
        background: #f7f7f7;
        border: 1px solid #e1e1e1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9em;
        text-decoration: none;
        line-height: normal;
        max-height: 3em;
  }
  button {
    border-radius: 0px 2px 2px 0px;
    box-sizing: content-box;
    background: #00aeef;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
	border-radius: 4px;
    margin-top: 15px;
  }
}

.no_decor {
    @include no_decor;
}

.no_padding_margin {
    @include no_padding_margin;
}

.no_padding {
    padding:0px !important;
}

.no_margin {
    margin:0px !important;
}

.cursor-pointer {
    cursor: pointer;
}

@include breakpoint(0 $tablet) {
    .wrapper {
        padding: 0px 15px;
    }
}

@include breakpoint($tablet) {
    .wrapper {
        width: span(8 of $columns)  + gutter($columns) + gutter($columns);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .inner-wrapper {
        width:span(8 of $columns) + gutter($wrapper) + gutter($wrapper);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@include breakpoint($desktop) {
    .wrapper {
        width: span(7 of $columns)  + gutter($columns) + gutter($columns);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .inner-wrapper {
        width:span($inner_wrapper of $wrapper) + gutter($wrapper) + gutter($wrapper);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.width-one-third {
    width: 33.33%;
}
.width-two-third {
    width: calc(100%*2/3);
}

.gallery-container {
    @include cf;
}

.gallery-square-content-top {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:15px;
}
.gallery-square-content-middle {
    position:absolute;
    top:50%;
    transform:translate(0, -50%);
    left:0px;
    width:100%;
    max-height:100%;
    padding:15px;
}
.gallery-roll {
    margin-bottom: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.bold, .font-bold, .font-weight-bold {
    font-weight: bold;
}
.font-400 {
    font-weight: 400;
}

@font-face {
    font-family: "Bebas Neue Bold";
    src: url(sansation_light.woff);
}




/********************FONTS **************************/
.font-gdsherpa {
    font-family: gdsherpa, Helvetica, Arial, sans-serif !important;
}

.font-helvetica {
    font-family: Helvetica, Arial, sans-serif !important; 
}

.font-boing {
    font-family: 'Boing';
}

.font-graphik {
    font-family: 'graphik';
}

















/*************************************************/
